<div class="align">
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle class="volume1" #volume value="volume" (click)=getToggelValue(volume.value)><img
                src="../../../assets/images/beaker.png"><img src="../../../assets/images/beaker-1.png" class="img-top"
                alt="Card Front"></mat-button-toggle>
        <mat-button-toggle class="length1" #length value="length" (click)=getToggelValue(length.value)><img
                src="../../../assets/images/scale-1.png"><img src="../../../assets/images/scale.png" class="img-top"
                alt="Card Front"></mat-button-toggle>
        <mat-button-toggle class="temperature1" #temperature value="temperature"
            (click)=getToggelValue(temperature.value)><img src="../../../assets/images/hot.png"><img
                src="../../../assets/images/hot-1.png" class="img-top" alt="Card Front"></mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>From</mat-label>
        <input matInput type="text" placeholder="0" (change)="fromValue($event)">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>To</mat-label>
        <input matInput type="text" placeholder="0" value="{{(inputFrom*valueFrom)/valueTo}}">
    </mat-form-field>
</div>
<div>
    <mat-form-field class="select-field" appearance="outline">
        <mat-label>Quantity-Type</mat-label>
        <mat-select [(value)]="selectedQuantity" (selectionChange)=selectChangeFrom($event.value)>
            <mat-option *ngFor="let quantity of quantity" [value]="quantity.value">
                {{quantity.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="select-field" appearance="outline">
        <mat-label>Quantity-Type</mat-label>
        <mat-select (selectionChange)=selectChangeTo($event.value)>
            <mat-option *ngFor="let quantity of quantity;let i =index" [value]="quantity.value"
                disabled="{{i==disablePlace}}">
                {{quantity.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>